<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681996567667-lrqcjj85i5dos9ls5vejcm22oe0a7jpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681996567667-lrqcjj85i5dos9ls5vejcm22oe0a7jpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBNlHtJXuTuSKDo9zM5qs-73IsZZ7lqUPg</string>
	<key>GCM_SENDER_ID</key>
	<string>681996567667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseauthbloc</string>
	<key>PROJECT_ID</key>
	<string>datingapp-12</string>
	<key>STORAGE_BUCKET</key>
	<string>datingapp-12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681996567667:ios:f2c2f6fa00e961c1861606</string>
</dict>
</plist>